.dropdown-menu {
    width: 177px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 30px;
}

.dropdown-menu:hover {
    width: 177px;
    background: rgba(0, 0, 0, 0.3);
}

a#basic-nav-dropdown.dropdown-toggle {
    background: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.Navbar {
    background: rgba(0, 0, 0, 0.4);
    border: none;
}

.Navbar-Brand {
    font-size: 40px;
}
